@import url('https://fonts.googleapis.com/css?family=Space%20Grotesk:700|Inter:400');


/* css général */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  list-style: none;
}


:root {
  --background: #FBFDFF;
  --section: #E6F4FE;
  --card :#D5EFFF;
  --border : #8EC8F6;
  --text-primary: #0D74CE;
  --text-secondary: #113264; 
}

.darkmode{
   --background: #111725;
  --section: #0D2847;
  --card :#003362;
  --border : #104D87;
  --text-primary: #70B8FF;
  --text-secondary: #C2E6FF; 
}

h1 ,h2{
  font-family: 'Space Grotesk';
  font-weight: 700;
  --text-primary: #70B8FF;
}

h1 {
  font-size: 3rem; 
}

body{  
  /* min-height: 100vh;  */
  background: var(--background);
  color: var(--text-secondary);  
  font-weight: 400;
  height: 3000px;
}

a{
  color:var(--text-primary);
  text-decoration: none; 
  border: 1px solid var(--border); 
  padding: 6px 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
  
}




/* header */
.banner{
  min-height:100vh;
  width:100%; 
  background: url('../images/banner-puy-de-dome.webp')  center/cover no-repeat;
  position:relative; 
  /* padding-top: 200px;  */
}



/* css navbar */
.nav{
  display:flex;
  flex-direction: column;
  align-items: center;  
  justify-content: space-between; 
  height: 230px;
  background: var(--section);
  box-shadow: 0 6px 10px var(--border);  
  top: 0; 
  left:0; 
  position: fixed;
  width: 100%;
  transition: top 0.3s ease;
}

.nav:hover{
  box-shadow: 0 10px 20px var(--border);
}

.nav-header{
  display:flex;  
  align-items: center;
  justify-content:space-between;
  padding: 10px;
  width: 90%;  
}


.header-main{
  display:flex;
  align-items: center; 
  gap: 15px; 
}

.header-main img{
  width: 100px;
  height: 100px;
  display: block;
}

.center{
  display: flex;
  justify-content: center; 
  align-items: center;  
}

.icon{
  width: 65px;
  height: 65px;
  margin: 20px;
  border-radius: 50%;
  transition: all 0.4s;
  /* cursor: pointer; */
}

.icon a{
  border:none;
}

.fa-phone-flip{
  color:#25D366;
  filter: drop-shadow(0 0 10px #25D366);
}

.icon:nth-child(1):hover{
  box-shadow: 0 0 0 10px #25D366;
}

.fa-square-linkedin{
  color:#0A66C2;
  filter: drop-shadow(0 0 10px #0A66C2);
}
.icon:nth-child(2):hover{
  box-shadow: 0 0 0 10px #0A66C2;
}
.fa-github{
  color:#24292F;
  filter: drop-shadow(0 0 10px #24292F);
}
.icon:nth-child(3):hover{
  box-shadow: 0 0 0 10px #24292F;
}

.darkmode .fa-github{
  color:#F6F8FA;
  filter: drop-shadow(0 0 10px #F6F8FA);
}

.darkmode .icon:nth-child(3):hover{
  box-shadow: 0 0 0 10px #F6F8FA;
}
.fa-sun, .fa-moon{
  color: #FFC107;
  filter: drop-shadow(0 0 10px #FFC107);
}
.icon:nth-child(4):hover{
 box-shadow: 0 0 0 10px #FFC107;
}

#toggle i:last-child{
  display: none;
}
.darkmode #toggle i:first-child{
  display: none;
}
.darkmode #toggle i:last-child{
  display: block;
}

.nav-links{  
  width: 90%;
  margin-bottom: 10px;  
}

.nav-links a{
  margin: 0 10px; 
  letter-spacing: 2px; 
  font-weight: 700;
  border:none
}

.nav-links a:hover{
  background-color: var(--text-secondary);
  color: var(--background);
  box-shadow: 0 5px 10px var(--border);
}

.nav-links i{
  transform: translateX(-5px); 
}
.list-links{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;   
  margin: 20px;
}


/* menu burger */
.burger {
  /* display: none; */
  flex-direction: column;
   cursor: pointer;
  }

.burger span {
  width: 25px;
  height: 3px;
  background: var(--text-secondary);
  margin: 4px 0;
  transition: 0.3s;
}

.burger.active span:nth-child(1){
  transform:rotate(45deg) translate(8px,8px);
}
.burger.active span:nth-child(2){
  opacity: 0;
}
.burger.active span:nth-child(3){
  transform:rotate(-45deg) translate(8px,-8px);
}

.presentation{
  position: absolute;
  top:50%; 
  left:50%;
  transform: translate(-50%,-50%);
  text-align: center;   
  min-width: 80%;   
}

.presentation-content{
  color: var(--text-primary);  
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.presentation span{
  color:var(--background);
  text-transform: uppercase;
  font-weight: bold;
}

#typing {  
  border-right: 3px solid var(--text-primary); 
  /* padding-right: 6px;
  white-space: nowrap;
  overflow: hidden; */
  animation: blink 0.8s infinite;
}

@keyframes blink {
  50% { border-color: transparent; }
}

