@import url('https://fonts.googleapis.com/css?family=Space%20Grotesk:700|Inter:400');


/* css général */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1, h2, h3, h4, h5 {
  font-family: 'Space Grotesk';
  font-weight: 700;
}

h1 {
  font-size: 4rem; 
}

h2 {
  font-size: 3rem; 
}

h3 {
  font-size: 2rem; 
}

h4 {
  font-size: 1.7rem; 
}

h5 {
  font-size: 1.3rem; 
}

:root {
  --background: #111725;
  --section: #111927;
  --card :#0D2847;
  --border : #104D87;
  --text-primary: #70B8FF;
  --text-secondary: #C2E6FF;
 
}

body{  
  height: 100vh;  
  background: var(--background);
  color: var(--text-secondary); 
  font-family: 'Inter';
  font-weight: 400;
}

a{
  color:var(--text-primary);
  text-decoration: none; 
  border: 1px solid var(--border); 
  padding: 5px 10px;
  border-radius: 5px;
}

a:hover{
  color: var(--text-secondary);
}

li{
  margin: 10px 0;
  list-style: none;
}